*{
    box-sizing: border-box ;
    margin: 0;
    font-family: Fira sans, sans-serif;
} 

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(63, 63, 135);
    color: black;
    
}
 
button{
   background-color: black;
   flex-direction: column;
}

.todo__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.todo__section--heading {
    font-size: 24px;
    margin-bottom: 40px;
}

.todo__section--todoItem {
    display: flex;
    min-width: 300px;
}

.todo__section--todoItem + .todo__section--todoItem {
margin-top: 20px
}

.todo__section--todoItem > div {
    display: flex;
    align-items: center;
    width: 100%;
}

.todo__section--todoItem  .todo__text {
    display: inline-block;
    margin-right: 100px;
    margin-left: 10px;
   
}

.todo__actions {
    padding: 5px 16px;
    border-radius: 8px;
    color: white;
    outline: none;
    box-shadow: none;
    border: 1px solid transparent;
}



.form {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 500px;
}

.form__input {
    height: 48px;
    border-radius: 8px;
    padding-right: 16px;
    padding-left: 16px;
    font-size: 16px;
    margin-bottom: 20px;
}

.add__btn {
    padding: 10px 16px;
    color: white;
}

.header{
    display: flex;
    justify-content: center;
}